body {
 font-family: 'Cinzel Decorative', cursive;
background: #833ab4;  /* fallback for old browsers */
background: -webkit-linear-gradient(to right, #fcb045, #fd1d1d, #833ab4);  /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to right, #fcb045, #fd1d1d, #833ab4); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
;
  color: #fefff1;
  /* text-align: center; */
}

#clock {
  font-size: 5rem;
  font-weight: 900;
  position: absolute;
  top: 40%;
  left: 35%;
}
